body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}



.main-content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slideShow 12s infinite;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 4s;
}

.slide:nth-child(3) {
    animation-delay: 8s;
}

@keyframes slideShow {
    0% {opacity: 0;}
    8% {opacity: 1;}
    33% {opacity: 1;}
    41% {opacity: 0;}
    100% {opacity: 0;}
}


@media (max-width: 768px) {
    .slider {
        height: 300px;
    }
}


.submit-button {
    background: linear-gradient(to right, #2ecc71, #3498db);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #3e8e41;
}

.submit-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.slider-container {
    position: relative;
    width: 100%;
    height: 400px;
}

.submit-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}



/*------------------------------------------------ Food Page --------------------------------------------------*/


.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    background: grey;
    color: #fff;
}


.product-table td img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.add-to-cart {
    background: linear-gradient(to right, #2ecc71, #3498db);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.add-to-cart:hover {
    background-color: #3e8e41;
}

.add-to-cart:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (max-width: 768px) {
    .product {
        flex: 0 0 100%;
        margin: 0;
    }

    .product-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
  .product-table td img {
    width: 150px;
    height: 150px;
  }
}

/*------------------------------------------------ Menu Restaurant Page --------------------------------------------------*/

.number {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.minus, .plus {
    width: 20px;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

input[type="text"] {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}



/*------------------------------------------------ Cart Page --------------------------------------------------*/

#cartModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#cartModal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#cartModal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#cartModal .close:hover,
#cartModal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  #cartModal .modal-content {
    width: 90%;
  }
}


